.dashboarduser {
    background: rgba(250, 250, 250, 1);

}

.userstats {
    display: flex;
    flex-direction: row;

}

.userstats1,
.userstats2 {
    border: 1px solid black;
    width: 20%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background: rgba(250, 250, 250, 1);

}

.serchingreport {
    .searchinginput {
        width: 40%;
        height: 7vh;
        border: 1px solid black;
        border-radius: 8px;
        padding: 1%;
    }

    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.report {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.reportsshown {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 80%;
    border: 1px solid black;

    .reportshownheading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        margin-left: 3%;
        margin-right: 3%;
        margin-top: 2%;

        .reportsshownheading2 {
            display: flex;
            flex-direction: row;
        }
    }
}

.reportshowncontent {

    .reportsshowncontentdiv {
        color: black;
        border: 1px solid black;
        margin: 3%;
        border-radius: 3px;
        background-color: rgba(250, 250, 250, 1);

        h2 {
            padding: 0.8%;
        }
    }
}